<navbar></navbar>

<main>
	<div class="container">
		<!-- <pre class="pull-right">{{user | json}}</pre> -->
		<div class="active-trades">
			<h3>Active Trades</h3>
			<ul id="trades">
				<li class="book" ng-repeat="trade in bookTrades">
					<img class="book-img" src="#" ng-src="{{trade.book.image}}" alt="">
					<div class="book-info pull-right">
						<h3 class="book-subtitle">{{trade.book.title}}</h3>
						<p class="book-subtitle">{{trade.book.author}}</p>
						<p class="book-subtitle">{{trade.book.year}}</p>
						<a href="" class="btn btn-danger" ng-click="removeBook(trade)">Remove Book</a>
						<a href="" class="btn btn-success" ng-click="showOffers(trade)" ng-hide="trade.requests.length < 1">Show Offers</a>
					</div>
				</li>
			</ul>
		</div>
		<div class="add-book">
			<h3>Add Book</h3>
			<input type="text" ng-model="search" id="search">
			<button ng-click="bookSearch(search)" id="searchButton">Search</button>

			
			<ul id="books">
				<li class="book" ng-repeat="book in books"> 
					<img class="book-img pull-left" src="#" ng-src="{{book.volumeInfo.imageLinks.thumbnail}}" alt="">
					<div class="book-info pull-right">
						<h3 class="book-subtitle">{{book.volumeInfo.title}}</h3>
						<p class="book-subtitle">{{book.volumeInfo.authors.join(", ")}}</p>
						<p class="book-subtitle">{{book.volumeInfo.publishedDate}}</p>
						<a href="" class="btn btn-primary" ng-click="addBook(book)">Add Book</a>
					</div>
				</li>
			</ul>
		</div>


	</div>
</main>

<footer></footer>