<navbar></navbar>
<main>
	<div class="container" ng-hide="bookTrades.length === 0">
		<!-- <pre class="pull-right">{{user | json}}</pre> -->
		<div class="active-trades">
			<h3>Active Offers</h3>
			<ul id="trades">
				<li class="book" ng-repeat="trade in bookTrades">
					<img class="book-img" src="#" ng-src="{{trade.book.image}}" alt="">
					<div class="book-info pull-right">
						<h3 class="book-subtitle">{{trade.book.title}}</h3>
						<p class="book-subtitle">{{trade.book.author}}</p>
						<p class="book-subtitle">{{trade.book.year}}</p>
						<a href="" class="btn btn-danger" ng-click="removeBook(trade)">Remove Offer</a>
						<button type="button" 
										class="btn btn-success" 
										data-toggle="modal" 
										data-target="#trade-info-modal" 
										ng-click="showRequests(trade)" 
										ng-hide="trade.requests.length < 1">Show Requests</button>
					</div>

				</li>
			</ul>
		</div>
	</div>
	<!--Contact Info Modal-->
	<div id="trade-info-modal" class="modal fade" role="dialog">
		<div class="modal-dialog modal-box">
			<div class="book pull-left">
				<img class="book-img" src="#" ng-src="{{activeTrade.book.image}}" alt="">
				<div class="book-info pull-right">
					<h3 class="book-subtitle">{{activeTrade.book.title}}</h3>
					<p class="book-subtitle">{{activeTrade.book.author}}</p>
					<p class="book-subtitle">{{activeTrade.book.year}}</p>
				</div>
			</div>
			<div class="book-contact pull-left">
				<h1>Active Offers:</h1>
				<ul id="contact-list">
					<li class="contact well" ng-repeat="user in userData">
						<p>Username: {{user.username}}</p>
						<p ng-hide="user.fullName === ''">Full Name: {{user.fullName}}</p>
						<p ng-hide="user.city === '' && user.state === ''" >Location: 
							<span ng-hide="user.city === ''">{{user.city}}</span> 
							<span ng-hide="user.state === '' || user.city === ''">, </span> 
							<span ng-hide="user.state === ''">{{user.state}}</span>
						</p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container" ng-hide="bookRequests.length === 0">
		<div class="active-requests">
			<h3>Active Requests</h3>
			<ul id="requests">
				<li class="book" ng-repeat="trade in bookRequests">
					<img class="book-img" src="#" ng-src="{{trade.book.image}}" alt="">
					<div class="book-info pull-right">
						<h3 class="book-subtitle">{{trade.book.title}}</h3>
						<p class="book-subtitle">{{trade.book.author}}</p>
						<p class="book-subtitle">{{trade.book.year}}</p>
						<a href="" class="btn btn-danger" ng-click="removeRequest(trade)">Remove Request</a>
					</div>
				</li>
			</ul>
		</div>

	</div>
	<div class="container">
		<div class="add-book">
			<h3>Add Book</h3>
			<input type="text" ng-model="search" id="search">
			<button ng-click="bookSearch(search)" id="searchButton">Search</button>

			
			<ul id="books">
				<li class="book" ng-repeat="book in books"> 
					<img class="book-img pull-left" src="#" ng-src="{{book.volumeInfo.imageLinks.thumbnail}}" alt="">
					<div class="book-info pull-right">
						<h3 class="book-subtitle">{{book.volumeInfo.title}}</h3>
						<p class="book-subtitle">{{book.volumeInfo.authors.join(", ")}}</p>
						<p class="book-subtitle">{{book.volumeInfo.publishedDate}}</p>
						<a href="" class="btn btn-primary" ng-click="addBook(book)">Add Book</a>
					</div>
				</li>
			</ul>
		</div>


	</div>
</main>

<footer></footer>